.page-body {
    background-color: $color-bk-primary;
    color: $color-text-primary;
    font-family: Poppins, sans-serif;

    @media screen and (max-width: 319px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 319px) {
            max-width: 319px;
            padding-left: 14px;
            padding-right: 14px;
        }

    @media (min-width: 320px) and (max-width: 574px) {
        max-width: 320px;
        padding-left: 14px;
        padding-right: 14px;
    }

    @media (min-width: 575px) and (max-width: 767px) {
        width: 575px;
        padding-left: 30px;
        padding-right: 30px;
    }

    @media (min-width: 768px) and (max-width: 991px) {
        width: 768px;
        padding-left: 39px;
        padding-right: 39px;
    }

    @media (min-width: 992px) and (max-width: 1379px) {
        width: 992px;
    }

    @media screen and (min-width: 1380px) {
        width: 1380px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}