$color-text-primary: #757575;
$color-text-secondary: #ffffff;
$color-text-footer: rgba(255, 255, 255, 0.6);
$color-title-primary: #212121;
$color-title-secondary: #ffffff;
$color-accent: #2196f3;
$color-gradient-hero: #2F303A66;
$color-bk-hero: #2f303a;
$color-bk-footer: #2f303a;
$color-bk-primary: #ffffff;
$color-bk-secondary: #f5f4fa;
$color-bk-popup: rgba(33, 150, 243, 0.9);
$color-logo-header: #000000;
$color-logo-footer: #ffffff;
$color-bk-link-footer: rgba(255, 255, 255, 0.1);
$color-social-link: #AFB1B8;
$color-soclink-footer: #ffffff;
$color-text-btn: #ffffff;
$color-backdrop: rgba(0, 0, 0, 0.2);
$color-modal-btn: #000000;
$color-placeholder-textarea: rgba(117, 117, 117, 0.5);
$color-icon-form: #212121;
$color-bk-work-list: rgba(47, 48, 58, 0.8);
$color-border-input: rgba(255, 255, 255, 0.3);
$color-border-project: #EEEEEE;
$color-btn-portfolio: #212121;
$color-bkbtn-menu: transparent;