$color-text-primary: #8F95A5;
$color-text-secondary: #2A3246;
$color-title-primary: #000000;
$color-title-secondary: #263238;
$color-accent: #263238;
$color-bk-primary: #FFFFFF;
$color-bk-secondary: #F5F5F5;
$color-logo-brit: #000000;
$color-logo-lex: #939393;
$color-bk-price: #EEEEEE;
$colot-text-price: #546269;
$color-text-btn: #ffffff;
$color-bkbtn-menu: transparent;
$color-btn-menu: #39515E;
$color-bk-menu: #ffffff;
$color-border-menu: #C4C4C4;