<section class="about">
    <div class="container">
        <h2 class="about__title">About Us</h2>
        <img class="about__img" srcset="./images/business-competition-bro.png 1x, ./images/business-competition-bro@2x.png 2x"
            src="./images/business-competition-bro.png" alt="Business competition" width="283">
        <p class="about__text">The model offers a framework for discussing
        problems related to the user's experience, as
        well as possible ways and means of solving
        them. Application development begins at
        the top level (strategy), where the future
        software product is described quite
        abstractly from the point of view of the
        expectations of both users and the customer.
</p>
        <ul class="about__list">
            <li class="about__item"><span class="about__number">800</span><p class="about__text">Pupils
</p></li>
            <li class="about__item"><span class="about__number">18</span><p class="about__text">Teachers
</p></li>
            <li class="about__item"><span class="about__number">6</span><p class="about__text">Foreign languages
</p></li>
        </ul>
    </div>
</section>