<footer class="page-footer">
    <div class="container page-footer__container">
        <a href="./index.html" class="logo logo--footer"><span class="logo--brit">Brit</span>lex</a>
        <ul class="page-footer__policy">
            <li class="page-footer__text">Terms and Conditions </li>
            <li class="page-footer__text page-footer__text--before">Privacy Policy </li>
            <li class="page-footer__text page-footer__text--before">Cookie Policy </li>
        </ul>
    </div>
</footer>