<header class="page-header">
    <div class="container">
        <a href="../index.html" class="logo"><span>Brit</span>lex</a>
        <nav class="nav-site">
            <ul class="nav-site__list">
                <li class="nav-site__item"><a href="" class="nav-site__link">Home</a></li>
                <li class="nav-site__item"><a href="" class="nav-site__link">Skills</a></li>
                <li class="nav-site__item"><a href="" class="nav-site__link">About Us</a></li>
                <li class="nav-site__item"><a href="" class="nav-site__link">Pricing</a></li>
                <li class="nav-site__item"><a href="" class="nav-site__link">Contacts</a></li>
            </ul>
        </nav>
        <button class="page-header__btn">Let’s Talk</button>
    </div>
</header>