<header class="page-header">
    <div class="page-header__container">
        <a href="./index.html" class="logo"><span class="logo--brit">Brit</span>lex</a>
        <div class="page-header__menu container" id="page-header__menu" data-menu>
            <nav class="nav-site">
                <ul class="nav-site__list">
                    <li class="nav-site__item"><a href="" class="nav-site__link">Home</a></li>
                    <li class="nav-site__item"><a href="" class="nav-site__link">Skills</a></li>
                    <li class="nav-site__item"><a href="" class="nav-site__link">About Us</a></li>
                    <li class="nav-site__item"><a href="" class="nav-site__link">Pricing</a></li>
                    <li class="nav-site__item"><a href="" class="nav-site__link">Contacts</a></li>
                </ul>
            </nav>
            <button type="button" class="page-header__btn--desktop">Let’s Talk</button>
        </div>
        <button type="button"
            aria-expanded="false"
            class="page-header__btn page-header__btn" 
            data-menu-button aria-controls="page-header__menu">
                <svg class="page-header__icon" aria-label="Переключатель мобильного меню">
                    <use class="page-header__icon-cross" href="./images/symbol-defs.svg#icon-menu-close"></use>
                    <use class="page-header__icon-menu" href="./images/icons.svg#icon-menu-open"></use>
                </svg></button>
    </div>
</header>