<section class="hero">
    <div class="container">
        <picture>
            <source srcset="./images/learning-languages-desk.png 1x, 
                            ./images/learning-languages-desk@2x.png 2x"
                    media="(min-width:1338px)"/>
            <source srcset="./images/learning-languages-992.png 1x, 
                            ./images/learning-languages-992@2x.png 2x" 
                    media="(min-width:992px)" />
            <source srcset="./images/learning-languages-tabl.png 1x, 
                            ./images/learning-languages-tabl@2x.png 2x" 
                    media="(min-width:768px)" />
            <source srcset="./images/learning-languages-575.png 1x, 
                            ./images/learning-languages-575@2x.png 2x" 
                    media="(min-width:575px)" />
            <source srcset="./images/learning-languages-mob.png 1x, 
                            ./images/learning-languages-mob@2x.png 2x" 
                    media="(min-width:320px)" />
            <img  class="hero__img"
                    src="./images/learning-languages-desk@2x.png" 
                    alt="Girl-poliglot">        
        </picture>
        
        <h1 class="hero__title">Learn Any Foreign Language</h1>
        <p class="hero__text">With our teachers who write a program for each student, you will be able to make your first sketch after the first lesson.</p>
        <button class="hero__btn">Get started</button>
    </div>
</section>