<section class="pricing">
    <div class="container">
        <h2 class="pricing__title">Pricing</h2>
        <ul class="pricing__list">
            <li class="pricing__item">
                <img srcset="./images/online-test-bro.png 1x, ./images/online-test-bro@2x.png 2x" class="pricing__img"
                    src="./images/online-test-bro.png" alt="Online test" width="248">
                <h3 class="pricing__title-item">Self-study online course</h3>
                <p class="pricing__text">Start learning English online in live classes
                    with qualified EC teachers and students
                    from all over the world.</p>
                <div class="pricing__block">
                    <p class="pricing__price">£5.99</p>
                    <p class="pricing__period">per month</p>
                </div>
            </li>
            <li class="pricing__item pricing__item--margin">
                <img srcset="./images/lesson-bro.png 1x, ./images/lesson-bro@2x.png 2x" class="pricing__img pricing__img--margin"
                    src="./images/lesson-bro.png" alt="Lesson" width="257">
                <h3 class="pricing__title-item pricing__title-item--margin">Live online classes</h3>
                <p class="pricing__text">Interactive group classes with expert
                    teachers. Free 7-day trial</p>
                <div class="pricing__block ">
                    <p class="pricing__price">£12.99</p>
                    <p class="pricing__period">per month</p>
                </div>
            </li>
            <li class="pricing__item">
                <img srcset="./images/webinar-bro.png 1x, ./images/webinar-bro@2x.png 2x" class="pricing__img pricing__img--margin"
                    src="./images/webinar-bro.png" alt="Webinar" width="241">
                <h3 class="pricing__title-item pricing__title-item--margin">Personal Tuition</h3>
                <p class="pricing__text">Online one-to-one English tutoring – enjoy
                    our first session for only $1</p>
                <div class="pricing__block">
                    <p class="pricing__price">£20.99</p>
                    <p class="pricing__period">per month</p>
                </div>
            </li>
        </ul>
    </div>
</section>