.hero{
    margin-bottom: 96px;
}

.hero__img{
    @media screen and (max-width: 574px) {
        margin-bottom: 16px;
    }

    @media (min-width: 575px) and (max-width: 767px) {
        width: 424px;
        margin-bottom: 17px;
        margin-left: auto;
        margin-right: auto;
    }
}
.hero__title{
    color: $color-title-primary;
    text-align: center;

    @media screen and (max-width: 574px) {
        @include font (600, 24px, 1.5);
        width: 220px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    @media (min-width: 575px) and (max-width: 767px) {
        @include font (600, 34px, 1.32);
        margin-bottom: 26px;
    }
}

.hero__text{
    @include font (none, 14px, 1.5);
    text-align: center;
    color: $color-text-primary;
    margin-bottom: 33px;

    @media (min-width: 575px) and (max-width: 767px) {
        font-size: 16px;
        margin-bottom: 37px;
    }
}

.hero__btn{
    @extend %button;
    width: 289px;
    height: 60px;
    background: $color-accent;
    border-radius: 5px;
    @include font (500, 16px, 1.5);
    color: $color-text-btn;

    
    @media screen and (max-width: 319px) {
        width: 100%;
    }

    @media (min-width: 575px) and (max-width: 767px) {
        display: block;
        width: 305px;
        height: 75px;
        font-size: 18px;
        margin-left: auto;
        margin-right: auto;
    }
}