.skills {
    margin-bottom: 50px;
}

.skills__title {
    @include font (600, 24px, 3.33);
    color: $color-title-primary;
    text-align: center;
    margin-bottom: 32px;
}

.skills__item {
    position: relative;
    background: $color-bk-secondary;
    border-radius: 5px;
    margin-bottom: 21px;
    padding: 8px 16px 45px;
    height: 473px;

    &--height {
        height: 600px;
    }
}

.skills__img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

    &--margin {
        margin-bottom: 20px;
    }
}

.skills__title-item {
    @include font (600, 18px, 1);
    color: $color-accent;
    width: 137px;
    height: 69px;
    padding: 34px 0 17px;

}

.skills__text {
    @include font (none, 13px, 1.54);
    font-size: 13px;
        line-height: 20px;

    &--margin{
        margin-bottom: 20px;
    }
}

.skills__btn {
    position: absolute;
    bottom: 44px;
    width: 178px;
    height: 50px;
    
    background: $color-accent;
    border-radius: 5px;

    @include font (500, 14px, 1.5);
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    
    color: $color-text-btn;

    &--bottom{
        bottom: 57px;
    }
}