.skills {
    margin-bottom: 57px;
    
    @media (min-width: 575px) and (max-width: 767px) {
        margin-bottom: 84px;
    }
}

.skills__title {
    @include font (600, 24px, 3.33);
    color: $color-title-primary;
    text-align: center;
    margin-bottom: 32px;

    @media (min-width: 575px) and (max-width: 767px) {
        @include font (600, 30px, 2.67);
    }
}

.skills__list{
    @media (min-width: 575px) and (max-width: 767px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}

.skills__item {
    position: relative;
    background: $color-bk-secondary;
    border-radius: 5px;
    
    padding: 8px 16px 45px;
    height: 473px;

    &--height {
        height: 600px;
    }

    &:not(:last-child){
        margin-bottom: 21px;
    }

    @media (min-width: 575px) and (max-width: 767px) {
        margin: 15px;
        flex-basis: calc((100% - 2*30px)/2);
        height: 534px;
        padding: 5px 15px 36px;
    }
}

.skills__img {
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 574px) {
        margin-bottom: 10px;

        &--margin {
        margin-bottom: 20px;
        }
    }

    @media (min-width: 575px) and (max-width: 767px) {
        width: 185px;

        &--margin {
            margin-top: 35px;
        }
    }
}

.skills__title-item {
    @include font (600, 18px, 1);
    color: $color-accent;
    width: 137px;

    @media screen and (max-width: 574px) {
        height: 69px;
        padding: 34px 0 17px;
    }
    
    @media (min-width: 575px) and (max-width: 767px) {
        padding: 17px 0;
        height: 52px;
    }

}

.skills__text {
    @include font (none, 13px, 1.54);

    &--margin{
        margin-bottom: 20px;
    }

    @media (min-width: 575px) and (max-width: 767px) {
        @include font (none, 12px, 1.5);

        &--margin {
                margin-bottom: 12px;
            }
    }
}

.skills__btn {
    position: absolute;
    bottom: 44px;
    width: 178px;
    height: 50px;
    
    background: $color-accent;
    border-radius: 5px;

    @include font (500, 14px, 1.5);
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    
    color: $color-text-btn;

    @media (min-width: 575px) and (max-width: 767px) {
        width: 200px;
        height: 50px;
    }
}